body{
	margin: 0px;
}

img{
	vertical-align: middle;
}

img.inner{
	display: block;
	margin-left: auto;
    	margin-right: auto
}

.title{
	text-align: center;
}

.middle{
	margin: 10px;
}

.footer{
	text-align: center;
	background: blue;
	color: white;
	font-size: small;
	position: absolute;
	bottom: 0;
	width: 100%;
}
